<section class="content-header">
    <h1>
        #{{ tag.hashtag }}
        <small>details</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i>Home</a>
        </li>
        <li>
            <a href="/#/tags">Tag</a>
        </li>
        <li class="active">
            {{ tag.hashtag }}
        </li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <dl class="dl-horizontal">
                                <dt>Current value:</dt>
                                <dd>{{ tag.value }}</dd>
                                <dt>Availaible in bank:</dt>
                                <dd>{{ tag.in_bank | number : 2 }}</dd>
                                <dt ng-show="maxSharesToSell">You own:</dt>
                                <dd ng-show="maxSharesToSell">{{ maxSharesToSell | number : 2 }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" ng-show="canBuyFromBank()">
                            <button ng-click="newBankOrder('buy')" ng-class="{'disabled': isOrderInProgress()}" class="btn btn-block btn-success">Buy from bank</button>
                        </div>
                        <div class="col-sm-3" ng-show="hasSharesToSell()">
                            <button ng-click="newBankOrder('sell')" ng-class="{'disabled': isOrderInProgress()}" class="btn btn-block btn-success">Sell to bank</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="isDealingWithBank()">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <strong class="text-capitalize">{{ newOrder.action }}</strong> shares
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ionslider min="0" max="maxSharesInCurrentOrder() | number : 2" step="0.1" action="shareQuantityChanged(data)"></ionslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            Transaction value: {{ newOrder.quantity * tag.value | number : 2 }}
                        </div>
                        <div class="col-sm-2">
                            <button ng-class="{'disabled': !canExecuteOrder()}" ng-click="executeOrder()" class="btn btn-block btn-success">
                                <strong class="text-capitalize">{{ newOrder.action }}</strong>
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button ng-click="cancelOrder()" class="btn btn-block btn-danger">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-controller="TagValuesCtrl">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="text-center">
                        Values over the time for last
                        <ng-pluralize count="showingDays" when="{'1': 'day', 'other': '{} days'}">
                    </h4>
                    <div class="btn-group btn-group-xs pull-right" role="group">
                        <button ng-repeat="duration in durationOptions" ng-disabled="showingDays == duration" ng-click="showDays(duration)" type="button" class="btn btn-link">
                            <ng-pluralize count="duration" when="{'1': '{} day', 'other': '{} days'}">
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <nvd3 options='options' data='data'></nvd3>
                </div>
                <div ng-show="loadingTagValues" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Historical orders</h3>
        </div>
        <div class="box-body">
            <h5 ng-show="!sucessfulOrders.length" class="text-center">
                No historical orders yet
            </h5>

            <table ng-show="sucessfulOrders.length" class="table table-bordered table-striped dataTable">
                <thead>
                    <tr role="row">
                        <th role="columnheader">Created</th>
                        <th role="columnheader">Action</th>
                        <th role="columnheader">Quantity</th>
                        <th role="columnheader">Order Value</th>
                        <th role="columnheader">Share Value</th>
                    </tr>
                </thead>
                <tfoot ng-show="pendingOrders.length > 10">
                    <tr>
                        <th role="columnheader">Created</th>
                        <th role="columnheader">Action</th>
                        <th role="columnheader">Quantity</th>
                        <th role="columnheader">Order Value</th>
                        <th role="columnheader">Share Value</th>
                    </tr>
                </tfoot>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr ng-repeat="order in sucessfulOrders" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td am-time-ago="order.created_at" title='{{ order.created_at | date:"yyyy-MM-dd H:mm" }}'></td>
                        <td class="text-capitalize">{{ order.action }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.value }}</td>
                        <td>{{ (order.value / order.quantity) | number : 2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
